body {
    background-color: #0F172A;
    overflow-x: hidden;

}

.navbar {
    padding: 30px;
    background-color: #0F172A !important;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #94A9C9;
}

.collapse {
    margin-left: 50px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;
}

.form-control {
    background-color: #0F172A;
    border-color: #222F43;
}

.navbar .collapse .navbar-nav .nav-item .dropdown-menu {
    background-color: #131C31;

}

.dropdown-item {
    color: #94A9C9;
    background-image: url(/images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;

}

.colored-btn {
    border: 1px solid rgb(14, 165, 234);
    width: 110px;
    height: 45px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    color: #ffffff;
    transition: 0.5s;
    animation-name: but;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes but {
    from {
        margin-top: 10px;
    }

    to {
        margin-bottom: 10px;
    }
}

.btn-search {
    background-image: url(/images/icon-search.svg);
    background-repeat: no-repeat;
    height: 42px;
    width: 42px;
    background-position: center;
}

.navbar-toggler {
    background-color: gray;
}

.container {
    height: 700px;
    background-color: #0F172A;

}

.first {
    height: 700px;
    width: 100%;
    margin-top: 100px;
}

.first .wrapper {
    display: inline-flex;
}
.first h1 {
    color: aliceblue;
    font-size: 60px;
    font-weight: 800;

}



.first .mov{
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    font-size: 60px;
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slide {
    100% {
        top: -370px;

    }

}


.first p {
    font-size: 15px;
    font-weight: 400;
    color: #94A9C9;
    width: 400px;
    word-spacing: 2px;
    margin-top: 20px;

}

.banner-img img {
    z-index: 3;
    position: relative;
    display: block;
    margin: auto;
}

.banner-img .pattern-1 {
    position: absolute;
    top: 33%;
    left: 0%;
    animation: move 4s linear infinite;
}

@keyframes move {
    10% {
        margin-top: 100px;
    }

    25% {
        margin-right: 50px;

    }

    50% {
        margin-top: 10px;
    }

    70% {
        margin-button: 10px;
    }

    80% {
        margin-left: 60px;
    }

    100% {
        margin-top: 30px;
    }

}

.banner-img .pattern-2 {
    position: absolute;
    top: 18%;
    right: 15%;
    animation: hero-thumb-animation 3s linear infinite alternate;
}

@keyframes hero-thumb-animation {
    20% {
        transform: rotate(90deg);
    }

    25% {
        margin-top: 20px;

    }

    50% {
        transform: rotate(180deg);

    }

    100% {
        margin-bottom: 50px;
        transform: rotate(360deg);
    }

}

.banner-img .pattern-3 {
    position: absolute;
    bottom: 4%;
    left: 9%;
    animation: hero-thumb-animation 2s linear infinite alternate;
}

.banner-img .pattern-4 {
    position: absolute;
    bottom: 37%;
    right: 4%;
    animation: wiggle 2s linear infinite alternate;
}

@keyframes wiggle {
    20% {
        width: 30px;
        height: 40px;
    }

    25% {
        width: 10px;
        height: 20px;
    }

    50% {
        width: 30px;
        height: 40px;
    }

    100% {
        width: 10px;
        height: 20px;
    }

}

.d-flex {
    display: flex;
    border: 2px solid #0d6efd;
    width: 400px;
    height: 60px;
    filter: drop-shadow(0 0 0.75rem #526b91);

}


.d-flex .btn {
    border: 1px solid rgb(14, 165, 234);
    width: 150px;
    height: 40px;
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    color: #ffffff;
    margin-right: 10px;
}

.input-sybscriber {
    width: 100%;
    background-color: transparent;
    border: 0px;
}

.input-sybscriber:hover {
    filter: drop-shadow(0 0 0.75rem #526b91);
}

.main-div {
    width: 100%;
    height: 500px;
    background-color: #526b91;
}

@media (max-width:750px) {
    .box {
        display: flex;
    }
    .owl-carousel .owl-stage {
        height: 200px;
    }

    .container .row .first h1 {
        display: inline;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text-xs{
        opacity: 0;
    }

    .container .row .first p {
        width: 300px;
    }

    .container .row .first .d-flex {
        width: 300px;

    }

    .first {
        width: 100%;
        height: 500px;
    }

    .second {
        width: 300px;
        height: 500px;
    }
    
.banner-img img {
    margin-left: -15px;
}
}

.main-switch {
    width: 80%;
    height: 300px;
    border: 2px solid #334663;
    background-color: rgb(19, 28, 49);
    margin-left: 150px;
    margin-bottom: 50px;
    margin-top: -230px;
    border-radius: 20px;
}

.main-switch .constructor {
    display: flex;
    overflow: hidden;
}

.main-switch .constructor h2 {
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.main-switch .constructor p {
    color: rgb(148, 144, 144);
    padding: 10px;
    width: 200px;
}

.owl-carousel {
    margin-top: 20px;

}

#div-1 {
    background-image: url(/images/design.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 3px solid #0F172A;
    height: 250px;
    width: 250px;
}

#div-2 {
    background-image: url(/images/movie.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #0F172A;
    height: 250px;
    width: 250px;
}

#div-3 {
    background-image: url(/images/lifestyle.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #0F172A;
    height: 250px;
    width: 250px;
}

#div-4 {
    background-image: url(/images/travel.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #0F172A;
    height: 250px;
    width: 250px;
}

#div-5 {
    background-image: url(/images/sport.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #0F172A;
    height: 250px;
    width: 250px;
}

#div-1 h6,
#div-2 h6,
#div-3 h6,
#div-4 h6,
#div-5 h6 {
    color: wheat;
    margin-top: 60%;
    font-weight: 900;
    margin-left: 20px;
}

#div-1 p,
#div-2 p,
#div-3 p,
#div-4 p,
#div-5 p {
    margin-top: -20%;
    color: #94A9C9;
}

#div-1 h6:hover,
#div-2 h6:hover,
#div-3 h6:hover,
#div-4 h6:hover,
#div-5 h6:hover {
    color: #0d6efd;
}

#div-1:hover,
#div-2:hover,
#div-3:hover,
#div-4:hover,
#div-5:hover {
    filter: brightness(.5);

}

@media (max-width:750px) {
    .main-switch {
        margin-top: 380px;
        height: 500px;
        margin-left: 35px;

    }

    #div-1,
    #div-2,
    #div-3,
    #div-4,
    #div-5 {
        background-size: 150px 150px;
        height: 150px;
        width: 150px;
        margin-left: 5px;
        margin-right: 20px;

    }

    .main-switch .constructor {
        display: block;
    }

}

.display {
    width: 90%;
    margin: auto;

}

.timeread {
    display: inline-block;
    background: url(/images/clock.svg) left center no-repeat;
    padding: 0px 0px 0px 23px;
}

.color-gray-700 {
    color: rgb(102, 118, 143);
}

.color-white {
    color: rgb(185, 224, 242);
}

.color-white:hover {
    color: #0d6efd;
}

.card-blog-1 {
    width: 80%;
    margin-bottom: 30px;
    background-color: rgb(19, 28, 49);
    padding: 20px;
    border-radius: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(34, 47, 67);
    justify-items: center;
}

.hover-up {
    transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1) 0s;
}

.card-image img {
    width: 100%;
    height: 300px;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.box-author {
    display: flex;
    align-items: center;
}

.readmore::before {
    content: "";
    position: absolute;
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    background-color: rgb(15, 23, 42);
    z-index: 1;
    border-radius: 50%;
}

.readmore {
    position: relative;
    padding-top: 13px;
    padding-left: 24px;
}

.readmore * {
    z-index: 2;
    position: relative;
}

.color-gray-500 {
    color: rgb(148, 169, 201);
}

.box-author img {
    display: inline-block;
    margin-right: 15px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

@media (max-width:750px) {
    .card-blog-1 {
        width: 110%;
        margin-left: -10px;
    }
}

.text-center .btn.btn-linear {
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    color: #ffffff;
    transition: 0.5s;
    border-radius: 80px;
    padding: 18px 30px;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border: 0;
}

.text-center {
    text-align: center;
}

.mb-50 {
    margin-bottom: 50px;
}

.text {
    margin-left: 90px;
    margin-bottom: 50px;
}

.text h2 {
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 45px;
    line-height: 61px;

}
.text h2::after{
    content: "";
    background-color:#0d6efd;
    width: 100px;
    height: 20px;
}
.text p {
    color: #526b91;
    font-size: 20px;
}

.footer {
    position: relative;
    z-index: 2;
    display: block;

}

.footer-1 {
    margin: 50px 0px 24px 0px;
    padding: 89px 128px 50px 128px;
    border-radius: 48px;
    border-width: 1px;
    border-style: solid;
    background-color: #131C31;

}

.footer-1 .row {
    display: flex;
    flex-wrap: nowrap;
}

.form-group {
    margin-bottom: 24px;
}

.input-name,
.input-email {
    border: 0px;
    padding: 12px 12px 12px 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    width: 100%;
    color: #ffffff;
    background: url(/images/user.svg) no-repeat left center;
}

.input-email {
    background: url(/images/email.svg) no-repeat left center;

}

.form-group .btn.btn-linear {
    background: rgb(14, 165, 234);
    background: linear-gradient(90deg, rgb(14, 165, 234), rgb(11, 209, 209) 51%, rgb(14, 165, 234)) var(--x, 0)/200%;
    color: #ffffff;
    transition: 0.5s;
}

footer .footer-bottom {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 50px 0px 0px 0px;
    font-size: 14px;
    border-color: #222F43;
}

.footer .icon-socials.icon-twitter {
    background: url(/images/tw.svg) no-repeat 0px 0px;
}

.footer .icon-socials {
    display: inline-block;
    padding-left: 28px;
    height: 32px;
    width: auto;
    margin-right: 10px;
}

.footer .icon-socials.icon-linked:hover {
    transition-duration: 0.2s;
}


.footer .icon-socials.icon-linked {
    background: url(/images/linked.svg) no-repeat 0px 0px;

}

.footer .icon-socials.icon-insta {
    background: url(/images/insta.svg) no-repeat 0px 0px;

}

ul {
    list-style: none;
}

.footer .menu-footer {
    display: inline-block;
}

.footer .menu-footer li a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: block;
    padding: 0px 0px 0px 0px;
    transition-duration: 0.2s;
}
@media (max-width:750px) {
    .genz{
        padding: 0px;
        margin-top: -80px;
        margin-left: -20px;
        
    }
    .text-sm{
        margin-top: -30px;
    }
    .footer-1 .row {
        display: block;
        flex-wrap: nowrap;
    }

    .color-gray-500 {
        width: 250px;
        margin-left: -90px;
        text-align: center;

    }

    .footer-1 {
        margin: 30px 0px 24px 0px;
        padding: 30px 100px 50px 100px;
    }

    .footer .icon-socials {
        display: inline-block;
        padding-left: 28px;
        margin-bottom: 20px;
        height: 32px;
        width: auto;
        margin-right: 10px;
    }

    .footer-bottom .box-socials {
        word-spacing: 50px;
    }

    .mr-30 {
        margin-right: 30px !important;
    }

    .text {
        margin-left: 10px;
    }
}
